h1{
   color: blue;
   text-align:center;       
   margin-top: 100px;
   margin-left: 150px;
   background-color: lightblue;
   border: 2px solid black;
   width: 50%;    
   background-clip: content-box; 
}
button{
   margin-left: 200px;
}
